customGPT/.obsidian/app.json
customGPT/.obsidian/appearance.json
customGPT/.obsidian/core-plugins-migration.json
customGPT/.obsidian/core-plugins.json
customGPT/.obsidian/workspace.json
customGPT/.DS_Store
